<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/sakura2.jpg"
        alt="sakura2"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Kitsudev</h1>
      <p class="lead">dont be fooled by kitsu</p>
    </div>
  </div>
</div>
